@page
@model LoginModel

@{
    ViewData["Title"] = "Acceder aqui";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<body>
    

<h1 class="titulo-register ">@ViewData["Title"]</h1>

<div class="divRegistrar container mt-5">
    <h2 class="titulo-carta"> Iniciar sesión con cuenta local</h2>
    <form id="account" method="post">
        <div class="row formulario">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Input_Email">Email</label>
                    <input asp-for="Input.Email" class="form-control input" autocomplete="username" aria-required="true" placeholder="name@example.com">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Contraseña</label>
                    <input asp-for="Input.Password" type="password" class="form-control input" autocomplete="current-password" aria-required="true" placeholder="password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @* <div class="form-group form-check">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    <label class="form-check-label" for="Input_RememberMe">Recordarme</label>
                </div> *@
            </div>
            <div class="col-md-8 form-group">
                <button id="login-submit" type="submit" class="form-group w-100 btn btn-warning btnSearch">Iniciar sesión</button>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                </p>
                @* <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar como nuevo usuario</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación por correo electrónico</a>
                </p> *@
            </div>
        </div>
    </form>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
