@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if(User.Identity.IsAuthenticated && User.IsInRole("Cliente")){
    <li class="nav-item">
        <a asp-controller="Perfil" asp-action="Index" class="nav-link btnNav"  title="Manage">Mis Viajes</a>
    </li>
    }
    @if(User.Identity.IsAuthenticated && User.IsInRole("Administrador")){
    <li>
        <a asp-controller="Admin" asp-action="VuelosVendidosLista" class="nav-link btnNav"><p>Administración</p></a>
    </li>
    }
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btnNav">Salir</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-link btnNav" asp-controller="Register" asp-action="Index">Registrarse</a>
    </li>
    <li>
        <a class="nav-link btnNav" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </li>
}
</ul>
