@{
    ViewData["Title"] = "Inicio";
}

<div class="col-8 divBuscador">
   <form>
        <div>
            <div class="d-flex align-items-center titleSearch">
                <i class="fa-solid fa-plane-departure mx-3"></i>
                <h3>Buscá tu próximo vuelo</h3>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="ida" autocomplete="off" onchange="checkSeleccionado('ida')">
            <label class="btn btn-outline-primary" for="ida">Ida</label>

            <input type="checkbox" class="btn-check" id="idaVuelta" autocomplete="off" onchange="checkSeleccionado('idaVuelta')" checked>
            <label class="btn btn-outline-primary" for="idaVuelta">Ida y Vuelta</label>
        </div>

        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center selectDestinos">
                <div class="mb-3 mx-3 col-5">
                    <label for="origen" class="form-label">Origen:</label>
                    <select id="origen" class="form-control select2"></select>
                </div>
                <div class="mb-3 mx-3 col-5">
                    <label for="destino" class="form-label">Destino:</label>
                    <select id="destino" class="form-control select2"></select>
                </div>
            </div>

            <div class="d-flex divFecha flex-wrap selectDates">
                <div class="mb-3 mx-3 divInputFecha col-3">
                    <label for="fechaDesde" class="form-label">Desde:</label>
                    <input type="date" class="form-control inputFecha select2" id="fechaDesde">
                </div>
                <div class="mb-3 mx-3 inputFecha col-3">
                    <label for="fechaHasta" class="form-label">Hasta:</label>
                    <input type="date" class="form-control inputFecha select2" id="fechaHasta">
                </div>
                <div class="mb-3 mx-2 col-1 divInputPasajeros">
                    <label for="pasajeros" class="form-label">Pasajeros:</label>
                    <input type="number" class="form-control inputPasajeros" id="pasajeros">
                </div>
            </div>

            <div class="mb-3 mt-3">
                <button class="btn btn-warning btnSearch" id="buscarBtn" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar"><i class="fa-solid fa-magnifying-glass mx-2"></i>Buscar</button>
            </div>
        </div>
    </form>

</div>

<div id="loading" style="display:none;">
    <div class="divLoading">
        <div class="loader">
            <span></span>

            <div id="dot-1" class="dot"></div>
            <div id="dot-2" class="dot"></div>
            <div id="dot-3" class="dot"></div>
            <div id="dot-4" class="dot"></div>
            <div id="dot-5" class="dot"></div>
        </div>
        <div class="loaderText">
            <span class="loader-text">Buscando...</span>
        </div>
    </div>
</div>


<div class="animate__animated animate__fadeIn" id="tituloDeBusqueda" style="display:none;">
    <h3>Estos vuelos encontramos para ti:</h3>
</div>

<div class="row mt-3 mb-3 animate__animated animate__fadeIn pruebaa">
    <div class="divOpciones" id="listaOfertas">

       <div class="card mt-4">
            <h5 class="card-title"><i class="fa-solid fa-plane"></i> AR - Aerolíneas Argentinas</h5>
            <div class="divItinerario">
                <div class="card-body d-flex align-items-center justify-content-between divContenidoOferta">
                    <div class="divItinerarioCompleto">
                        <p class="card-text"><b><i class="fa-solid fa-plane-departure"></i> Partida: </b> 01 Ene. 2024 | <span><b>Buenos Aires - Bangkok</b></span></p>
                        <div class="accordion-item itinerario">
                            <div class="accordion-button collapsed d-flex justify-content-around align-items-center" data-bs-toggle="collapse" data-bs-target="#ida" aria-expanded="false" aria-controls="flush-collapseOne">
                                <div class="d-flex flex-column align-items-center">
                                    <span>10:55 Hs</span>
                                    <span>EZE</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span>14:00 Hs</span>
                                    <span>BKK</span>
                                </div>
                            </div>
                            <div id="ida" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body d-flex justify-content-center itinerarioAccordion">
                                    <div class="d-flex flex-column align-items-center justify-content-around">
                                        <span><b>01/01/2024 - 14:00 Hs</b></span>
                                        <span>EZE - Buenos Aires</span>                                       
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <span><b>01/01/2024 - 14:00 Hs</b></span>
                                        <span>BKK - Bangkok</span>                                       
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-column align-items-center divDuracion">
                                    <p class="card-text"><b><i class="fa-regular fa-clock"></i> Duración: </b> 15 Horas 55 Minutos.</p>
                                    <p class="card-text"><i class="fa-regular fa-hand"></i> 1 Parada/s.</p>
                                </div>
                            </div>
                        </div>

                        <p class="card-text"><i class="fa-solid fa-plane-arrival"></i><b> Regreso: </b> 01 Ene. 2024 | <span><b>Bangkok - Buenos Aires</b></span></p>
                        <div class="accordion-item itinerario">
                            <div class="accordion-button collapsed d-flex justify-content-around align-items-center" data-bs-toggle="collapse" data-bs-target="#vuelta" aria-expanded="false" aria-controls="flush-collapseOne">
                                <div class="d-flex flex-column align-items-center">
                                    <span>10:55 Hs</span>
                                    <span>BKK</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span>14:00 Hs</span>
                                    <span>EZE</span>
                                </div>
                            </div>
                            <div id="vuelta" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            </div>
                            <div class="d-flex flex-column align-items-center divDuracion">
                                <p class="card-text"><b><i class="fa-regular fa-clock"></i> Duración: </b> 15 Horas 55 Minutos.</p>
                                <p class="card-text"><i class="fa-regular fa-hand"></i> 1 Parada/s.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between">
                        <p class="card-text"><b>Precio Final: </b> $ 94555.20</p>
                        @* <button href="#" class="btn btnSearch" data-oferta='${ofertaJson}' onclick="reservarVuelo(this)"><i class="fa-solid fa-ticket"></i> Reservar Vuelo</button> *@
                        <button class="buttonReserva mt-3" data-oferta='${ofertaJson}' onclick="reservarVuelo(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>
                            <div class="text">Reservar Vuelo</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home.js"></script>
    
    @* Select del buscador de origen y destino de vuelos, filtrando las sugerencias al usuario *@
    <script>
        $(document).ready(function() {
            $('#origen').select2({
                placeholder: 'Ingrese una ciudad..',
                minimumInputLength: 2,
                language: {
                    searching: function() {
                        return "Buscando Origen..";
                    },
                    inputTooShort: function() {
                        return 'Por favor, ingrese al menos 2 carácteres.';
                    },
                    noResults: function() {
                        return 'No se encontraron resultados.';
                    }
                },
                ajax: {
                    url: '@Url.Action("ObtenerAeropuertos", "Home")',
                    dataType: 'json',
                    delay: 250,
                    data: function (palabraIngresada) {
                        return {
                            keyword: palabraIngresada.term //Termino que envia a la solicitud ajax (controlador)
                        };
                    },
                    processResults: function (listaAeropuertos) { //Respuesta del controlador
                        return {
                            results: listaAeropuertos.map(function (aeropuerto) {
                                return {
                                    id: aeropuerto.id,
                                    text: aeropuerto.text
                                };
                            })
                        };
                    },
                    cache: true
                }
            });

            $('#destino').select2({
                placeholder: 'Ingrese una ciudad..',
                minimumInputLength: 2,
                language: {
                    searching: function() {
                        return "Buscando destino..";
                    },                   
                    inputTooShort: function() {
                        return 'Por favor, ingrese al menos 2 carácteres.';
                    },
                    noResults: function() {
                        return 'No se encontraron resultados.';
                    }
                },
                ajax: {
                    url: '@Url.Action("ObtenerAeropuertos", "Home")',
                    dataType: 'json',
                    delay: 250,
                    data: function (palabraIngresada) {
                        return {
                            keyword: palabraIngresada.term //Termino que envia a la solicitud ajax (controlador)
                        };
                    },
                    processResults: function (listaAeropuertos) { //Respuesta del controlador
                        return {
                            results: listaAeropuertos.map(function (aeropuerto) {
                                return {
                                    id: aeropuerto.id,
                                    text: aeropuerto.text
                                };
                            })
                        };
                    },
                }
            });
        });
    </script>
}
