@{
    ViewData["Title"] = "Inicio";
    var appUrl = Url.Content("~/");
}

<script type="text/javascript">
    var appUrl = '@appUrl';
</script>

<div class="col-8 divBuscador animate__animated animate__fadeIn">
   <div class="fondoBorroso"></div>
   <form>
        <div>
            <div class="d-flex align-items-center titleSearch">
                <i class="fa-solid fa-plane-departure mx-3"></i>
                <h3>Tu próximo destino espera por vos!</h3>
            </div>
        </div>
        <hr>

        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="ida" autocomplete="off" onchange="checkSeleccionado('ida')">
            <label class="btn btn-outline-primary" for="ida">Ida</label>

            <input type="checkbox" class="btn-check" id="idaVuelta" autocomplete="off" onchange="checkSeleccionado('idaVuelta')" checked>
            <label class="btn btn-outline-primary" for="idaVuelta">Ida y Vuelta</label>
        </div>

        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center selectDestinos">
                <div class="mb-3 mx-3 col-5">
                    <label for="origen" class="form-label">Origen:</label>
                    <select id="origen" class="form-control select2"></select>
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputOrigen"><i class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccione el origen.</span>
                </div>
                <div class="mb-3 mx-3 col-5">
                    <label for="destino" class="form-label">Destino:</label>
                    <select id="destino" class="form-control select2"></select>
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputDestino"><i class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccione el destino.</span>
                </div>
            </div>

            <div class="d-flex divFecha flex-wrap selectDates" id="camposIdayVuelta" style="display:flex;">
                <div class="mb-3 mx-3 divInputFecha col-3">
                    <label for="fechaDesde" class="form-label">Fecha de salida:</label>
                    <input type="date" class="form-control inputFecha select2" id="fechaDesde">
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaDesde"><i class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccione una fecha de ida.</span>
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaDesdeMayorAHoy"><i class="fa-solid fa-circle-exclamation errorIcon"></i> La fecha de ida debe ser mayor a la de hoy.</span>
                </div>
                <div class="mb-3 mx-3 inputFecha col-3">
                    <label for="fechaHasta" class="form-label">Fecha de Regreso:</label>
                    <input type="date" class="form-control inputFecha select2" id="fechaHasta">
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaHasta"><i class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccione una fecha de regreso.</span>
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaHastaMayorADesde"><i class="fa-solid fa-circle-exclamation errorIcon"></i> La fecha de regreso debe ser mayor a la de ida.</span>
                </div>

                <div class="mb-3 mx-2 col-1 divInputPasajeros">
                    <label for="pasajeros" class="form-label">Pasajeros:</label>
                    <select class="form-control inputPasajeros" name="pasajeros" id="pasajeros">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-center divFecha flex-wrap selectDates" id="campoIda" style="display:none;">
                <div class="mb-3 mx-3 inputFecha col-3">
                    <label for="fechaDesde" class="form-label">Fecha de Salida:</label>
                    <input type="date" class="form-control inputFecha select2" id="fechaDesdeSoloIda">
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaDesdeSoloIda"><i class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccione una fecha.</span>
                    <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="inputFechaDesdeMayorAHoySoloIda"><i class="fa-solid fa-circle-exclamation errorIcon"></i> La fecha debe ser mayor a la de hoy.</span>
                </div>

                <div class="mb-3 mx-2 col-1 divInputPasajeros">
                    <label for="pasajerosSoloIda" class="form-label">Pasajeros:</label>
                    <select class="form-control inputPasajeros" name="pasajerosSoloIda" id="pasajerosSoloIda">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

            <div class="buttons">
                <button class="btn" id="buscarBtn"><span></span><p data-start="good luck!" data-text="DIRECTO AL VIAJE DE TUS SUEÑOS :)" data-title="TOMATE UN VUELO..."></p></button>
            </div>
        </div>
    </form>

</div>

<div id="loading" style="display:none;">
    <div class="divLoading">
        <div class="loader">
            <span></span>

            <div id="dot-1" class="dot"></div>
            <div id="dot-2" class="dot"></div>
            <div id="dot-3" class="dot"></div>
            <div id="dot-4" class="dot"></div>
            <div id="dot-5" class="dot"></div>
        </div>
        <div class="loaderText">
            <span class="loader-text">Buscando...</span>
        </div>
    </div>
</div>

<div id="tituloDeBusqueda" style="display:none;">
    <h3>Estas son las opciones que tenemos para vos:</h3>
    <div class="animate__animated animate__fadeIn">
        <hr>
    </div>

    <div class="row mt-3 mb-3 animate__animated animate__fadeIn">
        <div class="divOpciones" id="listaOfertas"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home.js"></script>
    
    @* Select del buscador de origen y destino de vuelos, filtrando las sugerencias al usuario *@
    <script>
        $(document).ready(function() {
            $('#origen').select2({
                placeholder: 'Ingrese una ciudad..',
                minimumInputLength: 2,
                language: {
                    searching: function() {
                        return "Buscando Origen..";
                    },
                    inputTooShort: function() {
                        return 'Por favor, ingrese al menos 2 carácteres.';
                    },
                    noResults: function() {
                        return 'No se encontraron resultados.';
                    }
                },
                ajax: {
                    url: '@Url.Action("ObtenerAeropuertos", "Home")',
                    dataType: 'json',
                    delay: 250,
                    data: function (palabraIngresada) {
                        return {
                            keyword: palabraIngresada.term //Termino que envia a la solicitud ajax (controlador)
                        };
                    },
                    processResults: function (listaAeropuertos) { //Respuesta del controlador
                        return {
                            results: listaAeropuertos.map(function (aeropuerto) {
                                return {
                                    id: aeropuerto.id,
                                    text: aeropuerto.text
                                };
                            })
                        };
                    },
                    cache: true
                }
            });

            $('#destino').select2({
                placeholder: 'Ingrese una ciudad..',
                minimumInputLength: 2,
                language: {
                    searching: function() {
                        return "Buscando destino..";
                    },                   
                    inputTooShort: function() {
                        return 'Por favor, ingrese al menos 2 carácteres.';
                    },
                    noResults: function() {
                        return 'No se encontraron resultados.';
                    }
                },
                ajax: {
                    url: '@Url.Action("ObtenerAeropuertos", "Home")',
                    dataType: 'json',
                    delay: 250,
                    data: function (palabraIngresada) {
                        return {
                            keyword: palabraIngresada.term //Termino que envia a la solicitud ajax (controlador)
                        };
                    },
                    processResults: function (listaAeropuertos) { //Respuesta del controlador
                        return {
                            results: listaAeropuertos.map(function (aeropuerto) {
                                return {
                                    id: aeropuerto.id,
                                    text: aeropuerto.text
                                };
                            })
                        };
                    },
                }
            });
        });

    </script>
}
