<h1>
    Bienvenido Administrador
</h1>

<table id="reporte" class="table table-striped">
        <thead>
            <tr>
                <th class="ocultar-en-768px" scope="col">Reserva Vuelo</th>
                <th class="ocultar-en-768px" scope="col">Aerolinea</th>
                <th class="ocultar-en-550px" scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th class="ocultar-en-550px" scope="col">Salida</th>
                <th class="ocultar-en-768px" scope="col">Regreso</th>
                <th class="ocultar-en-768px" scope="col">Pasajeros</th>
                <th scope="col">Monto</th>
                <th scope="col"></th>
            </tr>
        </thead>