<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Administración</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>

    <div class="section">
        <!-- ======= Sidebar ======= -->
        <div>
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item admin">
                        <a class="nav-link " asp-controller="Admin" asp-action="Index">
                        <span>Administración</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="VuelosVendidosLista">
                            <i class="bi bi-person"></i>
                            <span>Vuelos Vendidos</span>
                        </a>
                    </li>

                </ul>

            </aside>
        </div>
        <div>
            <section>
                <h1>Hola Administrador</h1>
            </section>
        </div>
    </div>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>

</body>

</html>