<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

<section class="d-flex animate__animated animate__fadeIn">
    <ul class="ulMenuLateral" id="menu">
        <li class="menu-header"><a href="#" aria-disabled="true"><span><i class="fa-solid fa-user-tie"></i> Administración</span></a></li>
        <li><a href="#" data-view="vuelosVendidos"><span>Vuelos Vendidos</span></a></li>
        <li><a href="#" data-view="hotelesVendidos"><span>Hoteles Vendidos</span></a></li>
    </ul>

    <div class="contenido" id="contenido"></div>
</section>
    
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const listaMenu = document.querySelectorAll('#menu li a');
        const contenidoHtml = document.getElementById('contenido');

        listaMenu.forEach(item => {
            item.addEventListener('click', function(e){
                e.preventDefault();
                
                //Elimina los atributos active de tolos los li.
                listaMenu.forEach(link => link.parentElement.classList.remove('active'));
                
                // Agregar la clase 'active' al elemento seleccionado
                item.parentElement.classList.add('active');
                
                const vista = item.getAttribute('data-view');

                cargarVista(vista);
            })
        })

        function cargarVista(vista){
            fetch(`/${vista}`)
                .then(response => response.text())
                .then(html => {
                    contenidoHtml.innerHTML = html;
                })
                .catch(e => {
                    contenidoHtml.innerHTML = '<p>Error al cargar el contenido de la vista</p>';
                    console.log('Error al cargar vista: ', e);
                })
        }
    });

</script>
