<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

<h3 class="mb-5">Registrate para ser parte de <b>A<span>gencia</span>A<span>terrizar</span></b>:</h3>

<div class="col-8 divRegistrar">
    <form class="form-group">
        
        <div class="divInputs">
            <!-- Nombre completo -->
            <div class="mb-3">
                <label for="nombreCompleto" class="form-label">Nombre completo:</label>
                <input type="text" class="form-control" id="nombreCompleto" placeholder="Ingrese su nombre completo" required>
            </div>

            <!-- Apellido -->
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido" required>
            </div>
        </div>

        <div class="divInputs">
            <!-- Tipo de documento -->
            <div class="mb-3">
                <label for="tipoDocumento" class="form-label">Tipo de documento:</label>
                <select id="tipoDocumento" class="form-control">
                    <option value="DNI">Documento Nacional de Identidad</option>
                    <option value="DNI">Libreta Civica</option>
                    <option value="DNI">Libreta de Enrolamiento</option>
                </select>
            </div>

            <!-- Número de documento -->
            <div class="mb-3">
                <label for="DNI" class="form-label">Número de documento:</label>
                <input type="number" class="form-control" id="DNI" placeholder="Ingrese su número de documento" required>
            </div>
        </div>

        <div class="divInputs">
            <!-- Pasaporte -->
            <div class="mb-3">
                <label for="pasaporte" class="form-label">Pasaporte:</label>
                <input type="text" class="form-control" id="pasaporte" placeholder="Ingrese su número de pasaporte" required>
            </div>

            <!-- Vencimiento de pasaporte -->
            <div class="mb-3">
                <label for="vencimientoPasaporte" class="form-label">Vencimiento de pasaporte:</label>
                <input type="date" class="form-control" id="vencimientoPasaporte" required>
            </div>
        </div>

        <div class="divInputs">
            <!-- Fecha de nacimiento -->
            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechaNacimiento" required>
            </div>

            <!-- Número de teléfono -->
            <div class="mb-3">
                <label for="numerotel" class="form-label">Número de teléfono:</label>                
                <input type="number" class="form-control" id="numerotel" placeholder="Ingrese su número de teléfono" required>
            </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" required>
        </div>

        <div class="divInputs">
            <!-- País -->
            <div class="mb-3">
                <label for="pais" class="form-label">Nacionalidad:</label>
                <input type="text" class="form-control" id="pais" value="Argentina" disabled placeholder="Ingrese su país de residencia" required>
            </div>

            <!-- Provincia -->
            <div class="mb-3">
                <label for="provincia" class="form-label">Provincia:</label>
                <input type="text" class="form-control" id="provincia" placeholder="Ingrese su provincia" required>
            </div>
        </div>

        <div class="divInputs">
            <!-- Localidad -->
            <div class="mb-3">
                <label for="localidad" class="form-label">Localidad:</label>
                <input type="text" class="form-control" id="localidad" placeholder="Ingrese su localidad" required>
            </div>

            <!-- Domicilio -->
            <div class="mb-3">
                <label for="domicilio" class="form-label">Domicilio:</label>
                <input type="text" class="form-control" id="domicilio" placeholder="Ingrese su domicilio" required>
            </div>
        </div>
        
            
        <div class="divInputs">
            <!-- Contraseña -->
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" required>
            </div>   
            <!-- Confirmación de contraseña -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmación de contraseña:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme su contraseña" required>
            </div>
        </div>
        
        <!-- Submit button -->
        <div class="d-flex justify-content-center mt-4 mb-2">
            <button id="btnRegister" type="submit" class="buttonRegister">
                <span class="button-content"><i class="fa-solid fa-address-card"></i> Registrarse </span>
            </button>
        </div>
    </form>
</div>


<script src="~/js/registro.js"></script>
