body{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0;
}

.contenido{
    width: 100vw;
}

.tdBotones button{
    margin: 5px;
    color: #fff;
}

.tdBotones i{
    color: #fff;
}

/*********************************************************************************************************************/
/*********************************************** VUELOS VENDIDOS *****************************************************/
/*********************************************************************************************************************/

.divContenido{
    margin: 20px;
    height: 100%;
    margin-bottom: 70px;
}

table{
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

.itemPasajero{
    padding: 15px;
    font-size: 15px;
    background-color: #fff0d59d;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
}

.itemPasajero b{
    color: orange;
}

.modal-body{
    background: url(../images/pattern-randomized.svg);

}

.modal-header, .modal-footer{
    background-color: #6969698a;
}

.tituloModal{
    color: #fff;
}

.modal-backdrop {
    position: none !important;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }

@media (max-width: 550px) {
    .ocultar-en-550px {
        display: none;
    }
}
@media (max-width: 768px) {
    .ocultar-en-768px {
        display: none;
    }
}