body{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0;
}

.contenido{
    width: 100vw;
}

.tdBotones button{
    margin: 5px;
    color: #fff;
}

.tdBotones i{
    color: #fff;
}

/*********************************************************************************************************************/
/*********************************************** VUELOS VENDIDOS *****************************************************/
/*********************************************************************************************************************/

.divContenido{
    margin: 20px;
    height: 100%;
}

table{
    text-align: center;
    vertical-align: middle;
}

.itemPasajero{
    padding: 15px;
    font-size: 15px;
    background-color: #dbd7d7;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tituloModal{
    color: #ee9939;
}

.modal-backdrop {
    position: none !important;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }

@media (max-width: 550px) {
    .ocultar-en-550px {
        display: none;
    }
}
@media (max-width: 768px) {
    .ocultar-en-768px {
        display: none;
    }
}