section{
    height: 100vh;
}

.ulMenuLateral {
    list-style: none;
    width: 15vw;
    height: 100vh;
    background-color: #04001cd8;
    padding: 0;
    margin: 0;
}

.ulMenuLateral li{
    border-bottom: 1px solid white;
}

.ulMenuLateral li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    text-align: center;
}

.ulMenuLateral li a:hover{
    background-color: #555;
}

body{
    margin: 0;
    padding: 0;
}

.navBar{
    margin-bottom: 15px !important;
}

.container{
    padding: 0;
}

.contenido{
    width: 80vw;
}

.tdBotones button{
    margin: 5px;
}

/*********************************************************************************************************************/
/*********************************************** VUELOS VENDIDOS *****************************************************/
/*********************************************************************************************************************/

.divContenido{
    margin: 20px;
}

table{
    text-align: center;
    vertical-align: middle;
}