.buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
}
  
.buttons button {
    width: 60%;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
  
.buttons button:before, .buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(238, 153, 57);
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}
  
.buttons button:after {
    left: 0;
    bottom: 0;
}

.buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
  
.buttons button span:before, .buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: rgb(238, 153, 57);
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}
  
.buttons button span:after {
    left: 0;
    bottom: 0;
    }

.buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}
  
.buttons button p:before, .buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}
  
.buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: rgb(238, 153, 57);
}

.buttons button:hover:before, .buttons button:hover:after {
    width: 100%;
}

.buttons button:hover span {
    z-index: 1;
}
  
.buttons button:hover span:before, .buttons button:hover span:after {
    height: 100%;
}

.buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}
  
.buttons button.start {
    background-color: rgb(238, 153, 57);
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}
  
.buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}
  
@keyframes start {
    from {
        top: -50%;
    }
}

.buttons button.start:hover:before, .buttons button.start:hover:after {
    display: none;
}

.buttons button.start:hover span {
    display: none;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

h3{
    color: rgb(240, 240, 240);
    font-style: italic;
}

hr{
    margin: 5px 0 0 0;
    color: rgb(75, 40, 0);
}

#tituloDeBusqueda{
    width: 90vw;
    margin: auto;
    background-color: #aeabc08a;
    padding: 10px 50px;
    border: 1px solid rgb(231, 229, 229);
    border-radius: 5px;
}

#tituloDeBusqueda h3{
    margin-top: 20px;
}

.card-title{
    margin-bottom: 30px;
}

.mostrar{
    display: flex;
}

i{
    color: rgb(252, 169, 74);  
}


.divBuscador i{
    color: rgb(252, 169, 74);
    font-size: 27px;
}

label{
    color: rgb(78, 47, 0);
    background-color: rgba(255, 255, 255, 0.454);
    border-radius: 3px;
    padding: 1px 2px;
}

.form-label{
    margin-bottom: 0 !important;
}

.inputPasajeros{
    width: 60%;
    text-align: center;
    height: 40px;
}

.divBuscador {
    position: relative;
    padding: 32px 20px;
    width: 80vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.fondoBorroso {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/playa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    opacity: 0.7; 
    z-index: -1; 
    border-radius: inherit; 
}

form {
    position: relative;
    z-index: 1; /* Asegura que el formulario esté por encima del fondo */
}

.spanError{
    color: rgb(255, 240, 240);
    width: 90vw;
}

.errorIcon{
    color: red !important;
    font-size: 15px !important;
}

.form-controlError{
    border: 1.5px solid red !important;
}

form{
    position: relative;
}

.select2-container .select2-selection--single {
    height: 40px !important;
    width: 30vw;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;  
    width: 30vw;
}

.select2-search--dropdown {
    width: 30vw;
}

.select2-container--open .select2-dropdown--below {
    width: 30vw !important;
}

.select2-container--default .select2-results>.select2-results__options {
    width: 30vw;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 7vw !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgb(253, 228, 199);
    color: black;
}

span .selection{
    width: 20vw !important; 
}

.inputFecha, .divInputFecha{
    height: 40px;
    width: 32vw;
}

.btn-outline-primary {
    color: black;
    border-color: rgb(238, 153, 57);
    padding: 0 10px;
    height: 25px;
    margin: 20px 0;
    transition: 0.3s all ease-in-out;
}

.btn-outline-primary:hover{
    border-color: black;
    background-color: rgb(236, 235, 235);
    color: black;
}


.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: white;
    background-color: rgb(252, 185, 109);
    border-color: rgb(238, 153, 57);
}

label{
    font-weight: 600;
}

#listaOfertas h3{
    padding-top: 20px;
}

.divOpciones{
    padding: 20px 40px;
    width: 95vw;
    margin: auto;
}

.card{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin: auto;
}


.buttonReserva {
    background-color: #ffffff00;
    color: rgb(238, 153, 57);
    width: 100%;
    height: 2.9em;
    border: rgb(238, 153, 57) 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.buttonReserva:hover {
    background-color: rgb(238, 153, 57);
    color: white;
    cursor: pointer;
}

.buttonReserva svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.buttonReserva:hover svg {
    transform: translateX(5px);
}
  
.text {
    margin: 0 5px
} 

.divItinerarioCompleto{
    width: 50vw;
}

.accordion-button{
    background-color: #31276400;
}

.accordion-button:not(.collapsed) {
    color: black; 
    background-color: #31276400; 
    box-shadow: none; 
}

.accordion-button::after {
    margin-left: -30px;
}

.accordion-button div{
    padding-left: 2vw !important;
}

.equipaje{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.equipaje div svg{
    padding: 1px;
}

.equipaje p{
    padding-left: 10px;
}

.divItinerario{
    padding: 0 50px;
}

h5{
    padding: 10px 7px;
}

.card-title{
    margin-bottom: 10px;
    background-color: #fff4e7;
}

.itinerario{
    width: 90%;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #3127643f;
}

.itinerario p{
    font-size: 13px;
    margin: 0;
}

.itinerario div{
    padding: 0 10px;
    align-items: center;
}

.itinerario .divDuracion{
    margin-top: 20px;
}

.itinerarioAccordion{
    font-size: 12px;
    width: 100%;
    background-color: rgba(238, 153, 57, 0.247);
    border-radius: 5px;
    margin-top: 20px;
}

.itinerarioAccordion i{
    color: #212121;
}

.divLoading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: #ee9939;
    font-size: 20px;
    font-weight: bold;
    z-index: 9999; 
    pointer-events: none;
}

.divLoading div{
    margin: 20px;
}

#loading{
    pointer-events: none !important; 
}


/*****************************************************************************************************/
/********************************************** LOADER ***********************************************/
/*****************************************************************************************************/

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    background: #212121;
    border-radius: 50%;
    box-shadow: inset 0px 0px 7px rgb(238, 153, 57);
    border: 1px solid rgb(238, 153, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader::before {
    content: "";
    position: absolute;
    inset: 20px;
    background: transparent;
    border: 1px solid rgb(238, 153, 57);
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px rgb(238, 153, 57);
}

.loader::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(238, 153, 57);
    box-shadow: inset 0px 0px 3px rgb(238, 153, 57);
}

.loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: transparent;
    transform-origin: top left;
    animation: radar81 2s linear infinite;
    box-shadow: -25px -75px 30px -50px rgb(238, 153, 57);
    border-top: 2px solid rgb(238, 153, 57);
}

.loader span::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: rgb(238, 153, 57);
    transform-origin: top left;
    transform: rotate(-90deg);
    filter: blur(15px) drop-shadow(10px 0px 10px rgb(238, 153, 57));
}

@keyframes radar81 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#dot-1 {
    --dot-start-top: 100px;
    --dot-start-left: 140px;
    --dot-end-top: 130px;
    --dot-end-left: 20px;
    --delay: 0s;
}

#dot-2 {
    --dot-start-top: 100px;
    --dot-start-left: 0px;
    --dot-end-top: -3px;
    --dot-end-left: 90px;
    --delay: 0s;
}

#dot-3 {
    --dot-start-top: 100px;
    --dot-start-left: 105px;
    --dot-end-top: 18px;
    --dot-end-left: 18px;
    --delay: 0s;
}

#dot-4 {
    --dot-start-top: 110px;
    --dot-start-left: 150px;
    --dot-end-top: 140px;
    --dot-end-left: 30px;
    --delay: 0s;
}

#dot-5 {
    --dot-start-top: -5px;
    --dot-start-left: 85px;
    --dot-end-top: 125px;
    --dot-end-left: 120px;
    --delay: 4s;
}

.dot {
    width: 5px;
    height: 5px;
    position: absolute;
    top: var(--dot-start-top);
    left: var(--dot-start-left);
    border-radius: 9999px;
    background: rgba(255, 255, 255);
    box-shadow: inset 0px 0px 10px 2px rgba(238, 153, 57, 0.329),
        0px 0px 10px 2px rgba(238, 153, 57, 0.329);
    -webkit-animation: fly 32s linear infinite;
    animation-delay: var(--delay);
    -moz-animation: fly 32s linear infinite;
}

@keyframes fly {
    0% {
        top: var(--dot-start-top);
        left: var(--dot-start-left);
    }

    100% {
        top: var(--dot-end-top);
        left: var(--dot-end-left);
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        background: rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 10px 2px rgba(238, 153, 57, 0.5),
        0 0 15px 2px rgba(238, 153, 57, 1);
    }

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 10px 2px rgba(238, 153, 57, 0.5),
        0 0 5px 2px rgba(238, 153, 57, 1);
    }
}

.divSinOfertas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divSinOfertas i{
    font-size: 80px;
    margin-bottom: 10px;
}

.loaderText {
    position: relative;
    overflow: hidden;
    border-right: 3px solid;
    width: 0px;
    animation: typewriter 2s steps(11)  infinite alternate , blink 0.5s steps(11) infinite;
}

.loader-text {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right,rgba(238, 153, 57, 1), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
@keyframes typewriter {
    0% {
        width: 0px;
    }

    100% {
        width: 240px;
    }
}
  
@keyframes blink {
    0% {
        border-right-color: rgba(255,255,255,.75);
        ;
    }

    100% {
        border-right-color: transparent;
    }
}
  

@media (max-width: 480px) {
    /*RESULTADOS*/

    #tituloDeBusqueda{
        width: 100vw;
    }

    .divOpciones{
        padding: 10px;
    }

    .divItinerario{
        padding: 0;
    }

    .card{
        width: 70vw;
    }

    .divContenidoOferta{
        flex-direction: column;
    }

    .divItinerarioCompleto {
        width: 100%;
    }

}


@media (max-width: 1024px) {
    /* BUSCADOR */

    .titleSearch{
        justify-content: center;
    }

    .btn-group label{
        font-size: 12px;
        padding: 2px 4px;
    }

    .selectDestinos{
        flex-direction: column !important;
        width: 70vw;
        margin: auto;
    }

    .select2-container .select2-selection--single{
        width: 60vw;
    }

    .select2-search--dropdown .select2-search__field, 
    .select2-results__option, 
    .select2-container--default .select2-results>.select2-results__options, 
    .select2-container--open .select2-dropdown--below, 
    .select2-container--default .select2-selection--single 
    .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        width: 60vw !important;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        width: 58vw !important;
    }

    .selectDates{
        flex-direction: column;
        width: 63vw;
    }

    .inputFecha{
        width: 63vw;
    }

    .divInputFecha{
        height: 60px;
    }

    .divInputPasajeros{
        width: 10vw;
        margin-top: 20px;
    }

    /*RESULTADOS*/

    #tituloDeBusqueda{
        width: 90vw;
    }

    .divOpciones{
        padding: 0px;
    }

    .divItinerario{
        padding: 0;
    }

    .divContenidoOferta{
        flex-direction: column;
    }

    .divItinerarioCompleto {
        width: 100%;
    }
    
}

  
   