.divReserva{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

h4{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 20px;
}

.detalleCompra{
    width: 30%;
    height: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3127643f;
}

.divVuelo{
    text-align: center;
    font-size: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
}

.aerolinea{
    font-size: 15px;
    font-style: italic;
}

.aerolinea b{
    text-decoration: underline;
}

.precioCompra{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 65%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid black;
}

.divTitulo{
    width: 65%;
}

.form-control{
    height: 35px;
}

.inputGenero{
    border: 1px solid rgb(190, 190, 190);
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-top: 14px;
}

.inputGenero div{
    margin-left: 5px;
}

h6{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-check-input:checked {
    background-color: rgba(238, 153, 57, 1);
    border-color: rgba(238, 153, 57, 1);
}

.btnComprar{
    font-size: 17px;
    background-color: #fcd45a53;
    color: rgba(32, 31, 31, 0.895);
    font-weight: bold;
    width: 30%;
    height: 40px;
    border: rgb(238, 153, 57) 2px solid;
    border-radius: 11px;
    transition: all 0.6s ease;
    margin-top: 40px;
}

.btnComprar:hover{
    background-color: rgb(238, 153, 57);
    color: white;
}


@media (max-width: 480px){
    .divReserva{
        flex-direction: column-reverse;
        align-items: center;
    }

    .detalleCompra{
        width: 100%;
    }

    h3{
        text-align: center;
        margin-top: 20px;
    }
    .container, .container-sm {
        max-width: 100%;
    }

    .divTitulo{
        width: 90%;
    }

    /* form{
        width: 100vw !important;
        margin: auto;
    }*/

    .itemForm div{
        flex-direction: column;
    } 

    .inputGenero{
        flex-direction: row !important;
        justify-content: space-around;
    }

    .inputForm input, .inputForm select{
        width: 80vw;
    }

    .inputGenero{
        width: 50vw;
    }

    .btnComprar{
        width: 50vw;
        margin-top: 20px;
    }

    .medioPago{
        flex-direction: column;
        width: 80vw;
    }
}