.divReserva{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

h4{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}

.detalleCompra{
    width: 35%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3127643f;
}

.divVuelo{
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
}

.aerolinea{
    font-size: 20px;
    font-style: italic;
}

.aerolinea b{
    text-decoration: underline;
}

.precioCompra{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 65%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid black;
}

.divTitulo{
    width: 65%;
}
